* {
    font-family: 'Cabin', sans-serif;
}

body {
    height: 100%;
    background-color: whitesmoke;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Style for the title and sub title */
.title-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1#page-title {
    margin: 0;
    font-family: Bangers, cursive;
}

h3#sub-title {
    margin: 0 0 2% 0;
    font-family: Bangers, cursive;
}

/* Style for content below the title */
.page-content {
    height: 100%;
    display: flex;
}

/* Style for the left content */
.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-right: 1px gainsboro dashed;
}

/* Style for the add movie zone */
.add-movie {
    display: flex;
    align-items: center;
    margin: 0 0 0 3%;
    width: 90%;
}

.overflow {
    height: 77%;
    width: 100%;
    overflow: auto;
}

/* Style for the movie list zone */
.list-zone {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.movies-list {
    height: 100%;
    list-style: none;
    max-width: 90%;
    padding: 0 1% 0 2.7%;
    margin: 0;
}

/* Style for the item list zone */
.item-list-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-item {
    border: 1px dimgray solid;
    border-radius: 5px;
    margin: 2px;
    padding: 1% 1% 1% 3%;
    background-color: whitesmoke;
}

.movie-title {
    font-size: 20px;
    cursor: pointer;
}

.movie-title:hover {
    font-size: 24px;
}

.ui-sortable-placeholder {
    background-color: whitesmoke;
    border-radius: 5px;
    height: 45px;
}

/* Style for the list buttons */
.list-button {
    display: flex;
    flex-direction: row;
}

.sort-button {
    padding: 0 7px 0 0;
}

.right-side {
    width: 50%;
}

/* Style for the details container */
.details-container {
    margin: 0 0 0 3%;
}

#movie-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1% 1% 3% 1%;
}

.content {
    font-weight: bold;
}

.movie-poster {
    margin: 0 2% 0 3%;
    display: block;
    max-width: 230px;
}

#poster {
    max-width: 100%;
}

#movie-img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.movie-plot {
    padding-bottom: 2%; 
    margin: 2% 0 3% 3%;
    text-align: center;
    border-bottom: 1px gainsboro dashed;
}


/* Style for the comments section */
.comment-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.text-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.add-comment {
    margin: 2%;
}

.comment {
    margin-left: 3%;
    border: 1px solid gainsboro;
    padding: 1% 1% 1% 3%;
}

.comment-author {
    font-weight: bold;
}