* {
    font-family: 'Cabin', sans-serif;
}

body {
    height: 100%;
    background-color: whitesmoke;
}

#page-title {
    text-align: center;
    height: 15%;
}

h1 {
    font-family: 'Bangers', cursive;
    margin: 0;
    font-size: 72px;
}

.grid {
    height: 85%;
    padding: 0;
}

ul {
    list-style: none;
}

#titles-list {
    height: 100%;
    overflow: auto;
}

.list-item {
    border: 1px dimgray solid;
    border-radius: 5px;
    margin: 2px;
    padding: 1% 0 1% 3%;
    position: relative;

}

.remove-button {
    position : absolute;
    max-width: 5%;
    right: 2%
}

.material-icons.md-18 {
    font-size: 18px;
}

.movie-title {
    font-size: 20px;
    cursor: pointer;
}

.movie-title:hover {
    font-size: 24px;
}

.movie-plot {
    display : none;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

h3 {
    font-family: 'Bangers', cursive;
    margin : 2px;
    text-align: center;
}

#one-more-zone {
    border: 1px dimgray solid;
    border-radius: 5px;
    padding: 0 3% 3% 3%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#add-button {
    position: relative;
    right : -78%
}