textarea, input {
  font-family: Cabin;
  font-size: 12pt;
}

.full-comment-input {
	display: flex;
	flex-direction: row;
	margin: 0 40px;
}

.comment-input {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#author-name {
	border: none;
}

