 .list {
	overflow: auto;
}

.item-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #CCC;
	height: 20px;
	padding: 10px 0;
	pointer-events: auto !important;
}

.wrapper-item:first-child {
	border-top: 1px solid #CCC;	
}

.title-item {
	flex: 2;
	font-size: 16pt;
}

.title-item:hover {
	font-size: 18pt;
	cursor: pointer;
} 

.wrapper-scroll-active {
	background-color: #fff;
	animation: highlight 1s;
}

@keyframes highlight {
    0% 	{background-color: #fff;}
    50% {background-color: #ef6c00;}
    100%{background-color: #fff;}
}

@media screen and (max-width: 400px) {
	.title-item {
		font-size: 10pt;
	}

	.title-item:hover {
		font-size: 10pt;
	}

}