.remove-button {
	padding: 0 2%;
}

.remove-button > button {
	max-width: 24px;
	max-height: 24px;
}

.add-comment-button {
	padding-left: 2%;
}

.cancel-edit-comment-button > button {
  max-width: 24px;
}
