.remove-button {
	padding: 0 10px;
}

.remove-button > button {
	width: 24px;
	height: 24px;
}

.add-comment-button {
	padding-left: 17px;
  align-self: flex-end;
}

.cancel-edit-comment-button > button {
  width: 24px;
  margin-right: 10px;
}

.edit-comment-button {
  width: 40px;
}
