.input-and-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.filters {
  display: flex;
  flex-direction: row;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  display: flex;
  width: 95.9%;
  height: 30px;
  padding-left: 4%;
  font-size: 12pt;
  border: none;
  border-bottom: 1px solid #CCC;
}

.react-autosuggest__suggestions-container {
  display: none;
  width: 100%;
}

.react-autosuggest__suggestions-container--open {
  display: flex;
  position: absolute;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
  font-size: 12pt;
  top: 42px;
  width: 100%;
  max-height: 169px;
  overflow-y: auto;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 4% 8%;
}

.react-autosuggest__suggestion--highlighted {
  color: orange;
  font-size: 14pt;
}
