.input-and-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #CCC;
  align-items: center;
  height: 50px;
}

.filters {
  display: flex;
  flex-direction: row;
}

.add-movie-input {
  width: 93%;
  margin-right: 5%;
  padding: 1% 1%;
  border: none;
  outline: none;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  height: 30px;
  padding-left: 8%;
  font-size: 16px;
  border: none;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 150%;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
  font-size: 12pt;
  top: 42px;
  max-height: 177px;
  overflow-y: auto;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
