.movie-details {
	display: flex;
	flex-direction: column;
}

.wrapper-details {
	flex: 1;
}

.movie-details-plot {
	text-align: center;
	padding: 25px 20px 25px 10px;
	clear: both;
}

@media screen and (max-width: 1100px) {
	.movie-details-plot {
			font-size: 12px;
			padding: 15px 20px 15px 10px;
	}
}