.movie-details {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.wrapper-details {
	max-height: 60%;
	overflow: auto;
}

.movie-details-plot {
	text-align: center;
	padding: 25px 20px 25px 10px;
	clear: both;
}

.get-magnet-button {
	padding: 0 10px;
}

.magnet-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.magnet {
	display: flex;
	width: 100%;
}

.magnet-tooltip {
	position: relative;
	cursor: pointer;
}

.magnet-size {
	font-size: 12px;
	visibility: hidden;
	color: #666;
	background-color: #CCC;
	text-align: center;
	width: 50px;
	padding: 5px 2px;
	position: absolute;
	top: -5px;
	z-index: 1;
}

.magnet-tooltip:hover .magnet-size {
	visibility: visible;
}

.magnet:hover {
	cursor: pointer;
}

@media screen and (max-width: 1100px) {
	.movie-details-plot {
			font-size: 12px;
			padding: 15px 20px 15px 10px;
	}
}