.movie-details {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1;
}

.wrapper-details {
	max-height: 60%;
	margin-left: 15px;
}

.magnet-get-button {
	cursor: pointer;
	width: 100px;
	margin: 10px;
	padding: 10px 0;
	border: none;
	border-radius: 5px;
	background-color: #EF6C00;
	text-align: center;
	color: whitesmoke;
	font-size: 1em;
	font-weight: bold;
}

.magnet-wrapper {
	margin-left: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.magnet {
	margin-right: 40px;
	padding-bottom: 10px;
	width: 100px;
}

.magnet a {
	text-decoration: none;
}

.magnet-link-wrapper {
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.magnet-infos-wrapper {
	text-align: center;
	padding-left: 7px;
	color: #5e5f60;
}

.magnet-size {
	font-size: 12px;
}

.no-magnet {
	padding-bottom: 10px;
	color: #5e5f60;
}

@media screen and (max-width: 1200px) {
	.wrapper-details {
		max-height: 100%;
	}
}

@media screen and (max-width: 642px) {
	.wrapper-details {
		flex: 1;
		max-height: 100%;
		overflow: auto;
	}

	.magnet-wrapper {
		align-self: center;
		margin: 0;
	}
}
