.movie-details-block-infos {
	margin-left: 40px;
	justify-content: space-between;
	position: relative;
}

.movie-details-block-infos .img {
	float: left;
	max-height: 380px;
	width: auto;
	padding-right: 40px;
}

.movie-details-block-infos .with-title-infos {
	padding-right: 20px;
}

.movie-details-block-infos .title {
	font-weight: bold;
	font-size: 20pt;
	margin-bottom: 20px;
}

.movie-details-block-infos .name-info {
	font-size: 12pt;
	font-weight: bold;
	margin: 4px 0;
}

@media screen and (max-width: 1100px) {
	.movie-details-block-infos .img {
		max-width: 80px;
	}

	.movie-details-block-infos .title {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.movie-details-block-infos .name-info {
		font-size: 12px;
	}

	.movie-details-block-infos .infos {
		font-size: 12px;
	}
}

@media screen and (max-width: 530px) {
	.movie-details-block-infos {
		margin-left: 10px;
	}

	.movie-details-block-infos .img {
		padding-right: 10px;
	}
}