.movie-details-block-infos {
	margin-left: 40px;
	justify-content: space-between;
}

img {
	float: left;
	max-width: 250px;
	height: auto;
}

.movie-detail-with-seen-button {
	display: flex;
	flex-direction: row;
}

.movie-details-with-title-infos {
	display: flex;
	flex-direction: column;
	flex: 2;
	padding-left: 40px;
	padding-right: 20px;
}

.movie-details-title {
	font-weight: bold;
	font-size: 20pt;
}

.movie-details-infos {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.movie-details-name-info {
	font-size: 12pt;
	font-weight: bold;
	margin: 4px 0;
}