.movie-details-block-infos {
	margin-left: 40px;
	justify-content: space-between;
}

img {
	float: left;
	max-width: 250px;
	height: auto;
}

.movie-detail-with-seen-button {
	display: flex;
	flex-direction: row;
}

.movie-details-with-title-infos {
	display: flex;
	flex-direction: column;
	padding-left: 40px;
	padding-right: 20px;
}

.movie-details-title {
	font-weight: bold;
	font-size: 20pt;
	margin-bottom: 20px;
}

.movie-details-infos {
	display: flex;
	flex-direction: column;
}

.movie-details-name-info {
	font-size: 12pt;
	font-weight: bold;
	margin: 4px 0;
}

@media screen and (max-width: 1100px) {
	img {
		max-width: 80px;
	}

	.movie-details-title {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.movie-details-name-info {
		font-size: 12px;
	}

	.movie-details-infos {
		font-size: 12px;
	}
}