html, body, #root, .page, .content-page {
  width: 100%;
  height: 100%;
  font-family: Cabin;
}

.page {
	display: flex;
	flex-direction: column;
}

h1.page-title {
	font-family: Bangers;
	font-size: 42pt;
	margin-top: 2%;
}

h3.page-title {
	font-family: Bangers;
	font-size: 24pt;
	margin-bottom: 2%;
}

.page-title {
	align-self: center;
}

.content-page {
	display: flex;
	flex-direction: row;
}

.left-side {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-right: 1px dashed #CCC;
}

.add-movie-input {
	width: 93%;
	margin-right: 5%;
	padding: 1% 1%;
	border: none;
	border-bottom: 1px solid #CCC;
	outline: none;
}

.item-list{
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #CCC;
	padding: 1% 0;
}

.title-item {
	margin-right: 5%;
	padding-left: 2%;
	flex: 2;
	font-size: 16pt;
}

.title-item:hover {
	font-size: 18pt;
	cursor: pointer;
	padding: 1.7% 0 1.7% 1.7%;
}

.remove-movie-button {
	align-self: center;
	padding-right: 2%;
}

.remove-movie-button > button {
	max-width: 24px;
	max-height: 24px;
}

.movie-details {
	flex: 1;
	display: flex;
	flex-direction: column;	
}

.movie-details-block-infos {
	display: flex;
	flex-direction: row;
	margin-left: 4%;
	justify-content: space-between;
	width: 92%;
}

img {
	max-width: 250px;
	height: auto;
}

.movie-details-poster {
	height: fit-content;
	margin-right: 4%;
}

.movie-details-with-title-infos {
	display: flex;
	flex-direction: column;	
	flex: 2;
}

.movie-details-title {
	font-weight: bold;
	font-size: 20pt;
}

.movie-details-infos {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.movie-details-name-info {
	font-size: 12pt;
	font-weight: bold;
	margin: 0.4% 0;
}

.movie-details-plot {
	text-align: center;
	padding: 2% 0;
}