.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  height: 30px;
  padding-left: 8%;
  font-size: 16px;
  border: none;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 150%;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
  font-size: 12pt;
  top: 42px;
  max-height: 177px;
  overflow-y: auto;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
